.promo {
    background-color: rgba(221, 222, 227, 1);
    display: flex;
    width: 100%;
}
  
.promo__heading {
    width: 626px;
    font-size: 40px;
    line-height: 1.3;
    padding: 0;
    font-weight: 400;
    margin: 0 0 102px;
}
  
.section_type_promo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 70px 60px;
}
  
  
@media screen and (max-width: 865px) {
    .promo__decoration {
      background-position: center;
      background-size: contain;
    }
}
  
@media screen and (max-width: 769px) {
    .section_type_promo {
      margin: 300px 44px 70px;
    }
    .promo__heading {
      text-align: center;
      width: 100%;
      margin: 0 auto 140px;
    }
    .promo__decoration {
      height: 230px;
    }
}
  
@media  screen and (max-width: 420px) {
    .section_type_promo {
      margin: 0 0 40px 0;
    }
    .promo__heading {
      margin: 183px 0 60px;
      display: flex;
      font-size: 31px;
      line-height: 1.25;
      letter-spacing: -0.04em;
    }
    .promo__decoration {
      background-size: cover;
    }
}