.auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.auth-form__heading {
    width: 100%;
    margin: 0 auto 40px;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 500;
}
  
.auth-form__fieldset {
    display: flex;
    flex-direction: column;
}
  
.auth-form__submit-button {
    width: 100%;
    margin-top: 65px;
    height: 45px;
    background-color: #4285F4;
    border-radius: 3px;
    border: none;
    padding: 0;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    transition: opacity .3s ease;
}
  
.auth-form__submit-button:hover {
    opacity: .8;
    cursor: pointer;
}
  
.auth-form__submit-button_inactive {
    background-color: rgba(248, 248, 248, 1);
    color: rgba(194, 194, 194, 1);
}
  
.auth-form__submit-button_type_login {
    margin-top: 155px;
}
  
@media screen and (max-width: 769px) {
    .auth-form__heading {
      margin: 0 auto 38px;
    }
}
  
@media screen and (max-width: 426px) {
    .auth-form__heading {
        text-align: center;
        margin: 0 auto 75px
    }
    .auth-form__submit-button {
        margin-top: 157px;
        font-size: 12px;
        line-height: 1.2;
    }
    .auth-form__submit-button_type_login {
        margin-top: 247px
    }
}