.header {
    background-color: #202020;
    width: 100%;
    display: flex;
}
  
.header_promo {
    background-color: #202020;
}

.section_type_header {
    display: flex;
    width: 100%;
    margin: 18px 70px;
    gap: 44px;
}
  
.section_type_header-signup {
    display: flex;
    justify-content: space-between;
    margin: 70px auto 40px;
    gap: 18px;
    width: 396px;
}
  
.logo {
    width: 38px;
}
  
@media screen and (max-width: 769px) {
    .section_type_header {
        margin: 18px 30px;
    }
    .section_type_header-signup {
        margin: 232px auto 40px;
    }
}
  
@media screen and (max-width: 426px) {
    .section_type_header-signup {
        width: fit-content;
        margin: 56px auto 50px;
    }
}
  
@media screen and (max-width: 320px) {
    .section_type_header {
        margin: 18px 14px;
    }
}
  