.short-movies-filter {
    display: flex;
    justify-content: center;
    gap: 14px;
    align-items: center;
    padding-left: 29px;
    margin-top: 50px;
}

.short-movies-filter__button {
    width: 36px;
    height: 20px;
    background-image: url('../../images/filtercheckbox_inactive.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color:  #202020;
    padding: 0;
    border: 0;
    transition: opacity .3s ease;
}

.short-movies-filter__button_active {
    width: 36px;
    height: 20px;
    background-image: url('../../images/filtercheckbox_active.svg');
}

.short-movies-filter__button:hover {
    cursor: pointer;
    opacity: .7;
}

.short-movies-filter__button-name {
    font-size: 13px;
    line-height: 1.4;
    display: block;
}

@media screen and (max-width: 769px) {
    .short-movies-filter {
        padding-left: 19px;
    }
}

@media screen and (max-width: 600px) {
    .short-movies-filter {
        /* background-color: rgba(250, 250, 250, 1); */
        padding: 0;
        border: none;
    }
}

@media screen and (max-width: 320px) {
    .short-movies-filter__button-name {
        font-size: 11px;
        line-height: 1.63;
    }
}