.about-project {
  display: flex;
  width: 100%;
  background-color: #202020;
}
  
.section_type_about-project {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 110px 70px;
}
  
.section__heading {
  width: 100%;
  font-size: 20px;
  line-height: 1.22;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0;
  padding-bottom: 21px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
  
.about-project__description {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 26px;
  margin-top: 70px;
  margin-bottom: 110px;
}
  
.about-project__paragraph-heading {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.04em;
}
  
.about-project__paragraph {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.about-project__schedule {
  display: grid;
  width: 100%;
  grid-template-columns: 228px auto;
  grid-template-rows: auto;
}
  
.about-project__project-time {
  font-size: 14px;
  line-height: 1.2;
  padding: 11px 14px;
  text-align: center;
}

.about-project__project-time_type_frontend {
  background-color: #3DDC84;
  color: #202020;
}

.about-project__project-time_type_backend {
  background-color: #424242;
}

.about-project__project-part {
  color: rgba(160, 160, 160, 1);
  font-size: 14px;
  line-height: 1.2;
  padding: 11px 14px;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .section_type_about-project {
    margin: 90px 50px 82px;
  }
  .section__heading {
    font-size: 22px;
    line-height: 1.23;
  }
  .about-project__description {
    column-gap: 30px;
    row-gap: 22px;
    margin-bottom: 93px;
  }
  .about-project__paragraph {
    font-size: 12px;
    line-height: 1.5;
  }
  .about-project__schedule {
    grid-template-columns: 140px auto;
  }
}

@media screen and (max-width: 426px) {
  .section_type_about-project {
    margin: 70px 44px;
  }
  .section__heading {
    font-size: 18px;
    line-height: 1.22;
    padding-bottom: 28px;
  }
  .about-project__description {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  .about-project__paragraph-heading {
    font-size: 18px;
    line-height: 1.16;
  }
  .about-project__paragraph {
    font-size: 11px;
    line-height: 1.45;
  }
  .about-project__paragraph-heading_upper {
    order: 1;
  }
  .about-project__paragraph_upper {
    order: 2;
  }
  .about-project__paragraph-heading_lower {
    order: 3;
    margin-top: 40px;
  }
  .about-project__paragraph_lower {
    order: 4;
  }
  .about-project__schedule {
    grid-template-columns: 100px auto;
  }
  .about-project__project-time {
    font-size: 11px;
    line-height: 1.22;
  }
  .about-project__project-part {
    font-size: 11px;
    line-height: 1.22;
  }
}

@media screen and (max-width: 320px) {
  .section_type_about-project {
    margin: 70px 18px;
  }
}